    body {
        color: #09715b;
        size:14px;
        background: #09715b;
    }
    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color:#eff1f2;
    }

    .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
        background-color:#fff;
    }

    .table-hover > tbody > tr > td.warning:hover, 
    .table-hover > tbody > tr > th.warning:hover, 
    .table-hover > tbody > tr.warning:hover > td, 
    .table-hover > tbody > tr.warning:hover > th {
        background-color:#e5e8e9;
    }
    #header {
        background-color: #477D76;
        height:150px;
    }
    #footer {
        height: 40px;
        line-height: 40px;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        /* background: #fff; */
        color: #999;
        font-family: Arial;
        font-size: 12px;
        letter-spacing: 1px;
    }
    #appicon-bg {
    box-shadow: 0 10px 29px rgba(0,0,0,.06);; 
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
        width: 150px;
        height: 150px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        border-radius: 24px;
        border: none;
        background-color:#ffffff;
        padding:15px;
        margin: auto;
        margin-top:-150px;
        margin-bottom: 30px;
    }
    .appicon{
        border: none;
    }
    .btn-u-lg, a.btn-u-lg {
        font-size: 18px;
        padding: 10px 50px;
        background-color: #477D76 !important;
        border-radius: 5px;
        border-color: #477D76 !important;
    }

    .btn-u-gray {
        font-size: 18px;
        padding: 10px 50px;
        background-color: #999999 !important;
        border-radius: 5px;
        border-color: #999999 !important;
    }

    .btn-u {
        background: #477D76;
    }

    .btn-u.btn-u-green:hover,
    .btn-u.btn-u-green:focus,
    .btn-u.btn-u-green:active{
        background-color: #477D76 !important;
        color:#fff;
    }

    .servive-block-light, .servive-block-default {
        background:none;
    }

    .gray-text {
        color:#969b9d;
    }

    .gray-text li {
        color:#969b9d;
    }

    .breadcrumb>li+li:before {
        content:none;
    }

    .breadcrumb>li {
        padding: 0 5px;
    }

    .devider.devider-dotted {
        border-top:1px solid #e7ebed;
    }

    .content-title {
        size:20px;
        color:#fff;
        margin-bottom:15px;
    }
    .table > thead > tr > th, 
    .table > tbody > tr > th, 
    .table > tfoot > tr > th, 
    .table > thead > tr > td, 
    .table > tbody > tr > td, 
    .table > tfoot > tr > td {
        border-top:0;
    }
    @media(max-width: 768px) {
        table.app_view_history>tbody>tr>td:first-child {
            padding-right: 15px;
            text-align:right;
            width: 53% !important;
        }
    }
    ul.breadcrumb {
        padding: 0;
    }
    @media(max-width: 320px) {
        table.app_view_history>tbody>tr>td:first-child {
            width: 60% !important;
        }
        table.app_view_history>tbody>tr>td:nth-child(2) {
            text-align: left;
            padding-left: 15px;
        }
    }

    .pcshow{display: block;}
    @media (max-width: 768px){.pcshow{display: none;}

a.btn-lg-default,
a.btn-lg-default:hover,
a.btn-lg-default:focus {
    background-color: #95a5a6 !important;
    border-color: #95a5a6;
}

span.tryAgain {
    top:-16px;
}
